<!-- Tabla de compras realizadas -->
<div class="container contenedor">
  <table matSort (matSortChange)="sortData($event)" class="custom-table table-bordered">
    <tbody class="text-center textos">
      <tr>
        <th mat-sort-header="Id"><strong> Nombre </strong></th>
        <th mat-sort-header="Nombre"><strong> Id </strong></th>
        <th mat-sort-header="Fecha"><strong> Fecha </strong></th>
        <th mat-sort-header="PrecioCompra"><strong> Precio Compra </strong></th>
        <th mat-sort-header="Volumen"><strong> Volumen </strong></th>
        <th mat-sort-header="Total"><strong> Total </strong></th>
        <th mat-sort-header="PrecioActual"><strong> Precio Actual </strong></th>
        <th mat-sort-header="DiferenciaPorcentaje"><strong> Cambio </strong></th>
        <th mat-sort-header="Diferencia"><strong> Ganancia/Perdida </strong></th>
      </tr>
      <tr *ngFor="let compra of listaComprasOrdenada || listaComprasRealizadas" class="text-center">
        <td>{{ compra.Nombre }}</td>
        <td>{{ compra.Id }}</td>
        <td>{{ compra.Fecha }}</td>
        <td>${{ compra.PrecioCompra }}</td>
        <td>{{ compra.Volumen }}</td>
        <td>${{ compra.Total }}</td>
        <td>${{ compra.PrecioActual }}</td>
        <td>{{ compra.DiferenciaPorcentaje }}%</td>
        <td>${{ compra.Diferencia }}</td>
      </tr>
    </tbody>
  </table>
</div>
